#job-search-results {
  padding: 1% 3% 1% 3%;
}

.paginator-container {
  text-align: center;
}

#job-index-sort-select{
  width: 200px;
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: 'Jaldi', sans-serif;
}