// Including margins
$job-panel-width: 500px;

$job-panel-transition-speed: 0.5s;

.react-browser{
  .job-panel{
    overflow: hidden;
    width: 450px;
    top:0px;
    bottom:0px;
    right:0px;
    background: white;
    margin: 25px;
    margin-top: 90px;
    position:fixed;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    transition: width $job-panel-transition-speed;
    &.closed{
      margin: 0px;
      padding: 0px;
      width: 0px;
    }

    .panel-contents{
      background-color: $box-bg-color;
      max-width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .panel-header{
       
        .panel-button-bar{
          padding: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $ocean-breeze;
          .left{
            display: flex;
            justify-content: flex-start;
            .favorite{
              font-size: 25px;
              color: gold;
              text-decoration: none;
            }
          }
          .right{
            display: flex;
            justify-content: flex-end;
          }
          
          .btn{
            padding: 4px;
            margin: 2px;
            height: 25px;
            width: 25px;
          }
        }

        .header-contents{
          display: flex;
          flex-direction: column;
          padding: 15px;
          h3{
            margin-top: 10px;
          }
          .apply-btn{
            padding: 5px;
            margin: 0px;
            margin-bottom: 10px;
          }
        }
      }

      .description-container{
        margin: 15px;
        border-top: 5px solid $ocean-breeze;
        background-color: white;
        padding: 20px;
        overflow-y:scroll;
        word-wrap: break-word;
      }
    }
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    
    .panel-container{
      width: $job-panel-width;
      transition: width $job-panel-transition-speed;
      &.closed{
        width: 0px;
      }
    }
  }

  .table-container{
    flex: 1;
    padding: 20px;

    .search-panel{
      margin-bottom: 20px;
      background-color: $box-bg-color;

      .title-bar{
        background-color: $ocean-breeze;
        color: white;
        padding: 10px;
        h3{
          margin: 0px;
        }
      }

      .search-input-container{
        padding: 10px;
        .input-group{
          align-items: center;
          *{
            margin: 5px;
            padding: 5px;
          }
        }
      }
    }

    table{
      display: table;
      border-bottom: 5px solid $ocean-breeze;
      flex-shrink: 1;
      margin-bottom: 0px;
      
      thead{
        tr{
          background-color: $ocean-breeze;
          color: white;
          td{
            border: none;
          }

        }
      }
      td{
        padding-left: 5px;
        padding-right: 5px;
      }
      tbody{
        cursor: pointer;
        tr:nth-child(odd) {
          background-color: $ocean-mist;
        }
        tr:hover{
          background-color: $ocean-mist-light;
        }
      }
    }
  }

  .load-more-btn{
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: $ocean-breeze;
    &:hover{
      background-color: #dda864;
    }
  }

  .end-of-results{
    padding-top: 10px;
    text-align: center;
    color: white;
    background-color: $ocean-breeze;
    padding-bottom: 5px;
  }

  .save-alert{
    opacity: 1;
    display: flex;
    height: 25px;
    align-self: center;
    align-items: center;
    margin-left: 5px;
    text-align: center;
    padding: 3px;
    position: relative;
    z-index: 999;
    background-color: gold;
    color: rgb(33, 37, 41);
    font-weight: bold;
    border-radius: 5px;
    transition: opacity 500ms;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-right-color: gold;
      border-left: 0;
      margin-top: -5px;
      margin-left: -5px;
    }
    &.hidden{
      opacity: 0;
    }
  }

  .saved-jobs-title{
    color: white;
    background-color: $ocean-breeze;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    h1{
      margin: 0;
    }
  }

  .application-modal{
    background-color: rgba(0, 0, 0, 0.372);
    display: block;
  }
}