#job-container {
  padding: 2% 10%;

  h1{
    font-size: 2em;
    text-align: center;
  }

  .panel-body{
    padding: 5%;
  }
}

.panel {
  padding: 2% 10%;

  h1{
    font-size: 2em;
    text-align: center;
  }

  .panel-body{
    display: flex;
    padding: 5%;
  }
}

.apply-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.job-map-container{
  padding-left: 20px;
  border-left: 1px solid lightgray;
}
#job-map{
  height: 300px;
  min-width: 300px;
}