#job-container {


  h1{
    font-size: 2em;
    text-align: center;
  }

  .panel-body{
    padding: 5%;
  }
}


.apply-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.job-box-actions{
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  button{
    flex: 0;
    margin: 0 !important;
    margin-top: 20px;
  }
}
.job-box-contents{
  max-width: calc(100% - 30px);
  align-self: stretch;
  margin: 15px;
  border-top: 5px solid $ocean-breeze;
  background-color: white;
  padding: 20px;
  word-wrap: break-word;
}

#applicationModal{
  .modal-header{
    justify-content: space-between;
    align-items: center;
    .modal-title{
      flex-grow: 1;
      text-align: center;
    }
    .close{
      margin: 0;
      padding: 5px;
    }
  }
}