<div id="contactInformationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactInformationModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="contact-information-container">
      <div class="modal-header">
        <div class="modal-title">Contact AllPhysicianCareers.com</div>
      </div>
      <div class="modal-body">
        <h3 class="contact-headings">Email</h3>
        <a href="mailto:info@archwayrecruiters.com">info@archwayrecruiters.com</a>
        <h3 class="contact-headings">Mail</h3>
        <p>340 N. Emerson</p>
        <p>Indianapolis, IN 46219</p>
      </div>
    </div>
  </div>
</div>