<div class="modal fade" tabindex="-1" role="dialog" id="contactInformationModal" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="contact-information-container">
      <h3>Contact Info</h3>
      <div id="contact-email-address">
        <h4>Email</h4>
        <div><a href="mailto:info@allphysiciancareers.com">info@allphysiciancareers.com</a></div>
      </div>
      <div id="contact-mailing-address">
        <h4>Mailing Address</h4>
        <div>AllPhysicianCareers
          340 N. Emerson
          Indianapolis, IN 46219
        </div>
      </div>
    </div>
  </div>
</div>