<div class="panel-container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 class="panel-title">Coming Soon</h1>
    </div>
    <div class="panel-body">
      Our site is currently under construction.
    </div>
  </div>
</div>

