<div class='box-form-page'>
  <div class="box-form-container">
    <div class='box-form'>
      <div class='box-title-bar'>
        <h3><%= "Apply for #{@job.specialty} Opening in #{@job.city}, #{@job.state}"  %></h3>
      </div>
      <%=render "application_form"%>
    </div>
  </div>
</div>