<div class="box-form-page">
  <div class="row justify-content-center">
    <div class="box-form-container col-md-8">
      <div class="box-title-bar">
        <h3>Your Applications</h3>
      </div>
      <% @applications.each do |application| %>
        <%= application.job.specialty %> in <%=application.job.city%>, <%= application.job.state%>. Applied <%= format_date(application.created_at) %>
        <br/>
      <% end %>
    </div>
  </div>
</div>