<div class="saved-jobs-container">
  <div class="saved-jobs-title">
    <h1>Your Saved Jobs</h1>
  </div>
  <%= javascript_pack_tag 'saved_browser' %>
  <%= content_tag :div,
    class: "react-browser",
    id: "jobs-data",
    data: rails_data do %>
  <% end %>
</div>