<div class="saved-jobs-container">
  <%= javascript_pack_tag 'job_browser' %>
  <%= content_tag :div,
    class: "react-browser",
    id: "jobs-data",
    data: rails_data.merge(saved_jobs: true) do %>
  <% end %>
</div>