<div id="terms-of-use">
  <h4>Welcome to AllPhysicianCareers!</h4>

  <p>
    We appreciate your use of our services to aid you in finding the right healthcare position.  Below are our Terms of Use.  In order to use this site   and/or to apply for positions through this site, you will first need to agree to our terms of use.  You must read our Terms of Use prior to using   this site.   These terms are legally binding conditions set forth when you use this site.  It is our goal that we help you find the perfect job and   in the process, we require that you also follow our guidelines.
  </p>

  <p>
    Both Employers and Candidates are entitled to use this site only in accordance of Terms of Use and only for lawful purposes.  If you are found to be in violation of these terms your account may be suspended or terminated.​
  </p>
 
  <h5>Employers:</h5>
  <p>
    As an Employer utilizing the services of AllPhysicianCareers, we do require that you create a profile for your company.  When you create this profile and enter jobs into this site, we require that all information entered is accurate and forthright.
  </p>
  
  <h5>By creating a profile, you agree to:</h5>
  <ul>
    <li>Allow AllPhysicianCareers to contact you as needed regarding your profile</li>
    <li>Allow AllPhysicianCareers  to make available your information to 3rd parties</li>
    <li>Allow Candidates to contact you via AllPhysicianCareers regarding your job openings</li>
  </ul>
  
  <h5>Candidates:</h5>
  <p>
    As a candidate using AllPhysicianCareers, you are not required to create an account.  Prior to creating an account, you may access, search and view job openings.  
  </p>
  <p>If you wish to apply for a position or positions via AllPhysicianCareers, you will be required to create an account.</p>
  <h5>By creating an account with AllPhysicianCareers, you agree that:</h5>
  <ul>
    <li>AllPhysicianCareers may contact you regarding your profile and job search.</li>
    <li>The information shared is honest & accurate.</li> 
    <li>Employers may contact you regarding potential job openings that fit your profile.</li>
    <li>AllPhysicianCareers may share your information with Employers, Agencies or other 3rd parties that can assist you.</li>
  </ul>
</div>