#contact-information-container {
  font-family: 'Jaldi', sans-serif;
  text-align: center;
  .modal-header{
    font-size: 2.6em;
    font-weight: 400;
    text-align: center;
    opacity: .6;
  }

  .contact-headings{
    font-size: 2.2em;
    font-style: italic;
    font-weight: 700;
  }

  p{
    margin-bottom: 0;
  }

  p, a{
    font-size: 1.3em;
  }

  .modal-body{
    padding-bottom: 40px;
  }
  
}