<div id="job-container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1 class="panel-title">Job Details Unavailable</h1>
    </div>
    <div class="panel-body">Please excuse the inconvenience.  A description on this job is currently unavailable, pending, or insufficient.  Please check back in the future.</div>
  </div>
</div>