$box-bg-color: #efefef;
$box-border-color: #c0c0c0;
$ocean-breeze: #78A5A3;
$ocean-breeze-clear: rgba(120, 165, 163, 0.6);
$ocean-mist: rgb(192, 213, 213);
$ocean-mist-light: rgb(223, 238, 238);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "**/*"

