thead {
  font-weight: bold;
}

.ocean-breeze {
  background-color: #78A5A3;
}

.navy {
  background-color: #444C5C
}

.warm {
  background-color: #E1B16A
}

.warm-border {
  border: 1px solid #E1B16A;
}

.btn-punch {
  background-color: #CE5A57;
  border-color: #a84645;
  color: white;

  &:hover{
    background-color: #a84645; 
    color: white;
  }

  &:active{
    background-color: #a84645; 
    color: green;
  }

  &:focus{
    background-color: #a84645; 
    color: white;
  }

  &:visited{
    background-color: #a84645; 
    color: white;
  }
}

#notice, #alert{
  width: 70%;
  margin: 0 auto;
}

#main-content-container{
  height: 100%;
  padding-top: 6%;
}

#nav-main{
  a {
  color: white;
  text-decoration: none;

  &:hover{ 
    color: white;
    text-decoration: none;
  }

  &:active{ 
    color: white;
    text-decoration: none;
  }

  &:focus{ 
    color: white;
    text-decoration: none;
  }

  &:visited{ 
    color: white;
    text-decoration: none;
  }
}
}

