#app-container{
  height: 100vh;
}

#nav-main {
  /*background-color: #3097d1;*/
  color: white;
}

#nav-main #brand {
  padding: 1%;
  font-size: 2.4em;
  font-weight: 100;
  font-family: 'Jaldi', sans-serif;
}



